ngb-datepicker {
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 320px;

  &-month-view {
    pointer-events: auto;
  }

  &.dropdown-menu {
    padding: 0;
  }
}

.ngb-dp {
  &-body {
    z-index: 1050;
  }

  &-header {
    border-bottom: 0;
    border-radius: .25rem .25rem 0 0;
    padding-top: 27px;
    padding-bottom: 20px;
  }

  &-months {
    display: flex;
  }

  &-month {
    pointer-events: none;

    &-name {
      font-size: larger;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
    }

    & + & {
      .ngb-dp-month-name, .ngb-dp-week {
        padding-left: 1rem;
      }
    }

    &:last-child .ngb-dp-week {
      padding-right: 30px;
    }

    &:first-child .ngb-dp-week {
      padding-left: 30px;
    }

    .ngb-dp-week:last-child {
      padding-bottom: 28px;
    }
  }
}

.btn-light {
  color: #595959;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.btn-light:hover {
  background: initial;
  color: #007bf7;
}

.text-muted {
  font-family: 'Lato', sans-serif;
}
