<p>Example of the range selection</p>

<ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <div class="custom-day-container">
    <span [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.fromDate]="isFromDate(date)"
          [class.untilDate]="isUntilDate(date)"
          [class.text-muted]="isMuted(date)">
      {{ date.day }}
    </span>
    <i class="backgroundFromDate" *ngIf="isFromDate(date) && !focused"></i>
    <i class="backgroundUntilDate" *ngIf="isUntilDate(date)"></i>
  </div>
</ng-template>

<hr>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>
